#
# Rules for Star Micronix Ltd. USBRelay
#
# L. Fini - 28/11/2022
#
#KERNEL=="hidraw*",  ATTRS{idVendor}=="0519", ATTRS{idProduct}=="2018", MODE="0660", GROUP="usbrelay", SYMLINK+="usbrelay%b"

SUBSYSTEM=="usb", ATTR{idVendor}=="0519",ATTR{idProduct}=="2018", MODE="0666"
KERNEL=="hidraw*",  ATTRS{idVendor}=="0519", ATTRS{idProduct}=="2018", MODE="0666", SYMLINK+="usbrelay%b"

